[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
d2rso = { path = ".", editable = true }
PySide6 = "==6.10.2"
pynput = "==1.8.1"
pywin32 = {version = "==311", markers = "sys_platform == 'win32'"}
pygame = "==2.6.1"

[dev-packages]
pytest = ">=7.4"
ruff = ">=0.3.0"
black = ">=24.2"
# Optional: remove if not using static type checking
mypy = ">=1.8"

[requires]
python_version = "3.11"
